.places {
  padding: 64px 0 16px;
}

@media screen and (min-width: 768px) {
  .places {
    padding: 0 0 16px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    padding: 0 48px 40px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    padding: 0 100px 12px;
  }
}
