.lead__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
  max-width: 288px;
  padding: 0 16px 40px;
}

@media screen and (min-width: 600px) {
  .lead__subtitle {
    font-size: 22px;
    max-width: 470px;
  }
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    padding: 0 24px 56px;
    font-size: 30px;
    max-width: 620px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    padding: 0 24px 64px;
  }
}
