.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  color: #fff;
  padding: 0 16px;
  transition: opacity .3s;
}

.place__link:hover {
  opacity: .6;
}


@media screen and (min-width: 768px) {
  .place__link {
    padding: 0;
  }
}
